<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://leehoainam-001-site1.htempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5220.site4now.net:8172/msdeploy.axd?site=leehoainam-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>leehoainam-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>leehoainam-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QLTAEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5097.site4now.net;Initial Catalog=db_aa27dd_login;User ID=db_aa27dd_login_admin;Password=luanbui16112004" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebSauce.Models.QLTAEntities, WebSauce" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QLTAEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.QLSP.csdl|res://*/Models.QLSP.ssdl|res://*/Models.QLSP.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5097.site4now.net;Initial Catalog=db_aa27dd_login;User ID=db_aa27dd_login_admin;Password=luanbui16112004"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>